.App {
  text-align: center;

  .navBar {
    background: #313131;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .navLink {
      color: white;
      text-decoration: none;
      padding: 0 40px;
      
    }
  
    .activeLink {
      opacity: .65;
    }
  
  }
  .subNav {
    background: #F6F6F6;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .navLink {
      color: black;
      text-decoration: none;
      padding: 0 25px 15px 25px;
    }
  }
}